*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
    font-family:sans-serif;
    background-color: #000000;
}

.hero{
    min-height: 100vh;
    color: #ffffff;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.about-me{
    display: inline-block;
    overflow:hidden;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.motto{
    padding: 20px;
}
#profile-img, #anthony{
    display: inline-block;
    width: 50%;
    padding: 20px;
    object-fit: cover;
    border-radius: 6%;
    opacity:90%;
}

.contact{
    padding: 20px;
}
@media(max-width:768px){
    body{
    }
    .hero{
        width: fit-content;
        overflow: hidden;
    }
    .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #profile-img, #anthony{
        width: 100%;
    }
}